.ats-color-picker {
  &-panel {
    position: relative;
    width: 200px;
    padding: 10px 10px 0;
    background: $color-white;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15);

    &__saturation {
      position: relative;
      width: 100%;
      height: 200px;

      .saturation--white {
        background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
      }
      .saturation--black {
        background: linear-gradient(0deg, #000, transparent);
      }

      .saturation--white,
      .saturation--black,
      .saturation--pointer {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    &__controls {
      .controls__hue-slider {
        height: 10px;
      }
      .controls__alpha-slider {
        height: 10px;
      }
    }

    &__presets {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .presets-color {
        width: 16px;
        height: 16px;
        border-radius: 3px;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        overflow: hidden;
      }
    }
  }
}
