/* Prefix */
$at-namespace: ats;

/* Color */
$color-primary: #6190e8;
$color-success: #13ce66;
$color-error: #ff4949;
$color-warning: #ffc82c;
$color-info: #78a4fa;
$color-white: #fff;
$color-black: #000;

$text-color: #3f536e;

$border-color-base: #c5d9e8;

/* Button */
$btn-default-color: $text-color;
$btn-default-bg: $color-white;
$btn-default-border: $border-color-base;
